#infoBar{
  display: none;
  position: fixed;
  height: 5%;
  width: 50%;
  justify-content: center;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  bottom: 0;
  left: 0;
  right: 0;
}
#timerDisplay{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  user-select: none;
}
#teamDisplay{
  width: 15%;
  text-align: left;
  font-size: 15px;
}
#matchDisplay{
  width: 15%;
  text-align: right;
  font-size: 15px;
}

#qata{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 32vh;
  height: 30vh;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
#gameCanvas{
  display: none;
  position: absolute;
  z-index: 1000;
}
#resetButton{
  position:relative;
  left: 450px;
  color: #ff0000;
  font-family: monospace;
  cursor: pointer;
  user-select: none;
}