@font-face { font-family: Coco-Gothic; src: url('Coco-Gothic-Light-trial.otf'); } 

#qataPage{
  background-color: #1a1a1a;
  color:white;
  flex-direction: row;
  display:none;
}
#qataPageLeftContainer{
  width:40vw;
  height: 100vh;
}
#qataPageHeader{
  font-size:80px;
  font-family: Coco-Gothic; 
  margin: 30px;
}
.qataPageCheckboxContainer{
  margin: 7px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}
.qataPageInput{
  font-family: Coco-Gothic;
  font-size: 24px;
  margin-top:auto;
  margin-bottom:auto;
}
.qataPageInputDisplay{
  width: 55px;
  text-align: center;
  font-family: Coco-Gothic;
  font-size: 24px;
  user-select: none;
}
.qataPageBox{
  width:62.5%;
  margin-left:30px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #1a1a1a;
  height:35px;
  border-radius: 16px;
  color:white;
  font-size:20px;
  padding-left:10px;
  transition: border 0.5s, background-color 0.5s;
  font-family: 'Courier New', Courier, monospace;
}
.qataPageBox:focus{
  outline:none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffd1dc;
}
.qataPageBox2{
  width:62.5%;
  margin-left:30px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #1a1a1a;
  height:65px;
  border-radius: 16px;
  color:white;
  font-size:15px;
  padding-left:10px;
  transition: border 0.5s, background-color 0.5s;
  font-family: 'Courier New', Courier, monospace;
  resize:none;
  padding-top: 7px;
}
.qataPageBox2:focus{
  outline:none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffd1dc;
}
#qataPageDivider{
  width:65%;
  border: 2px #696969;
  border-style: none none solid none;
  height:1px;
  margin-bottom: 25px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: 30px;
}
#tableContainer{
  border: 1px solid #696969;
  border-radius: 15px;
}



/* .box_1{
  background: #eee;
} */

input[type="checkbox"].switch_1{
  font-size: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.6em;
  height: 0.7em;
  background: rgb(54, 54, 54);
  border-radius: 2.333em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
  background: #ffd1dc;
  }
  
  input[type="checkbox"].switch_1:after{
  position: absolute;
  content: "";
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
          box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0.05em;
  top: 0.005em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
  left: calc(100% - 0.75em);
  }


#qataPageTable{
  border: none;
  margin-top: 30px;
}
.qataPageCellID{
  padding: 5px;
  padding-right: 15px;
  font-family: Coco-Gothic;
  position: relative;
  top: 0.5px;
}
.qataPageCellNumber{
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}




.editButton{
  margin:auto;
  border: 1px solid white;
  border-radius: 100%;
  padding: 4px;
  height: 100%;
  width: 18px;
  text-align: center;
}


.wrapper{
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: Coco-Gothic;
  user-select: none;
  
}

.link_wrapper{
  position: relative;
}

a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #ffd1dc;
  transition: all .35s;
}

a:hover{
  width: 200px;
  border: 3px solid #ffd1dc;
  background: transparent;
  color: #ffd1dc;
}

a:hover + .icon{
  border: 3px solid #ffd1dc;
  right: -25%;
}

#qrscreen {
  display: none;
}